body {
    background-color: #ffffff;
}

.logo {
    color: red;
    font-size: 56px;
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 1rem;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.row-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-top: 15px;
}

.search-input {
    width: 500px;
    padding: 10px;
}

.search-filters {
    display: flex;
    flex-direction: row;
}


button {
    width: 200px;
    padding: 10px;
    margin: 10px;
}

.action-buttons {
    margin-top: 10px; 
}

.btn-main {
    background-color: #000000;
    color: #ffffff;
}
